<section class="hero-wrap hero-bread" style="background-image: url('@Url.Content("~/Assets/Images/Background/banner_1_snk.png")');">
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <h1 class="mb-0 bread">Sneaker Shop</h1>
                <p class="breadcrumbs">Bo suu tap sneaker moi nhat</p>
            </div>
        </div>
    </div>
</section>
