<section class="ftco-section testimony-section">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 heading-section ftco-animate text-center">
                <h2 class="mb-4">Khach hang noi gi</h2>
                <p>Trai nghiem mua sam sneaker nhanh gon, de su dung va than thien.</p>
            </div>
        </div>
    </div>
</section>
