<div class="row no-gutters ftco-services">
    <div class="col-lg-4 text-center d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services p-4 py-md-5">
            <div class="media-body">
                <h3 class="heading">San pham chinh hang</h3>
                <p>Lua chon sneaker thoi trang, chat luong va phu hop nhu cau hang ngay.</p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 text-center d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services p-4 py-md-5">
            <div class="media-body">
                <h3 class="heading">Giao hang nhanh</h3>
                <p>Ho tro giao hang nhanh trong khu vuc va cap nhat don hang ro rang.</p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 text-center d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services p-4 py-md-5">
            <div class="media-body">
                <h3 class="heading">Ho tro khach hang</h3>
                <p>Tu van kich co, mau sac va phong cach phu hop voi tung khach hang.</p>
            </div>
        </div>
    </div>
</div>
